# Default ignored files
/../../Lab_08_GetMethodical./.idea/shelf/
/../../Lab_08_GetMethodical./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Lab_08_GetMethodical./.idea/httpRequests/
# Datasource local storage ignored files
/../../Lab_08_GetMethodical./.idea/dataSources/
/../../Lab_08_GetMethodical./.idea/dataSources.local.xml
